.section {
    background-color: white;
    max-width: 1000px;
    margin: 10px 0;
}

.section__title {
    padding: 20px;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.section__body {
    padding: 20px;
}

.section__header {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 0 auto;
    align-items: center;
    border-bottom: 2px solid #F0F0F0;
}

@media (max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}