html {
  box-sizing: border-box;
  font-family: "lato", sans-serif;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  background-color: #F0F0F0;
  align-content: center;
  padding: 0px 40px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Lato' sans-serif;
  word-break: break-word;
}